@import "../../variables.css";

#bottom-navigator-bar {
  bottom: var(--bottom-navigation-bar-bottom);
  display: flex;
  height: var(--bottom-navigation-bar-height);
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .inner-flex {
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    height: inherit;
    width: calc(100% - 1.25rem);
  }

  .icon {
    flex-grow: 1;
  }
}
