#bottom-navigator-bar {
  bottom: 10px;
  display: flex;
  height: 60px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .inner-flex {
    align-items: center;
    background-color: #feddf2;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    height: inherit;
    width: calc(100% - 20px);
  }

  a {
    background-color: red;
    text-align: center;
    width: 100px;
  }

  .icon {
    flex-grow: 1;
  }
}
