@import "../../variables.css";

.article {
  background-size: cover;
  padding: 2.5rem 1.25rem;
  position: relative;
  text-align: center;

  img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .container {
    .title {
      background-color: var(--primary-color);
      border-radius: 5px;
      color: var(--secondary-color);
      display: inline-block;
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0 auto 1.25rem auto;
      max-width: 80%;
      padding: 0.625rem;
    }

    .body {
      background-color: var(--primary-color);
      border-radius: 5px;
      color: var(--secondary-color);
      font-size: 1rem;
      margin: 0 auto 1.25rem auto;
      max-width: 80%;
      padding: 0.625rem;
    }
  }
}
