#home {
  display: flex;
  flex-direction: column;
  gap: 20px;

  #see-more {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 30px;
  }
}
