@import "./variables.css";

html {
  box-sizing: border-box;
  font-family: var(--font);
  min-height: 100vh;
}

body {
  box-sizing: border-box;
  margin: 0;
  min-height: inherit;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  padding-bottom: calc(
    var(--home-gap) + var(--bottom-navigation-bar-height) +
      var(--bottom-navigation-bar-bottom)
  );
}

input {
  font-family: var(--font);
}
