html {
  min-height: 100vh;
  font-family: "Roboto", "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: inherit;
}

#root {
  min-height: calc(100vh - 60px); /* The space of the BottomNavigationBar */
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

input {
  font-family: "Roboto", "Open Sans", sans-serif;
}
