:root {
  /* colors */
  --item-box-shadow: #c9c9c9;
  --primary-color: #feddf2;
  --secondary-color: #d03397;
  --white: #ffffff;

  /* sizes */
  --bottom-navigation-bar-bottom: 0.625rem;
  --bottom-navigation-bar-height: 3.75rem;
  --bottom-navigation-bar-icons-height: 1.875rem;
  --header-height: 3.75rem;
  --home-gap: 1rem;

  /* fonts */
  --font: "Roboto", "Open Sans", sans-serif;
}
