@import "../../variables.css";

.list {
  .title {
    color: var(--secondary-color);
    margin: 0 0 0.625rem 0;
    padding-inline: 1.25rem;
  }

  .carroussel {
    display: flex;
    gap: 0.625rem;
    overflow-x: auto;
    padding-bottom: 0.625rem;
    padding-inline: 1.25rem;
  }
}
