@import "../../variables.css";

.list {
  .title {
    color: var(--secondary-color);
    margin: 0 0 10px 0;
    padding-inline: 20px;
  }

  .carroussel {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
    padding-inline: 20px;
  }
}
