#cart-icon {
  position: fixed;
  z-index: 2000;
  bottom: calc(24px + 60px); /* Height of the BottomNavigationBar */
  right: 20px;
  height: 64px;
  width: 64px;
  background-color: #fedcf3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .image {
    height: 40px;
  }
}
