@import "../../variables.css";

#cart-icon {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 50px;
  bottom: calc(var(--home-gap) + var(--bottom-navigation-bar-height));
  display: flex;
  height: 4rem;
  justify-content: center;
  position: fixed;
  right: 1.25rem;
  width: 4rem;
  z-index: 2000;

  .image {
    height: 2.5rem;
  }
}
